<h1>Edit <%= article.title %></h1>
<form action="/articles/<%= article._id %>?_method=PATCH" method="post">
  <label for="category">Category:</label><br/>
  <select name="article[category]" id="category">
    <option value="Code">Code</option>
    <option value="Food">Food</option>
    <option value="Fashion">Fashion</option>
    <option value="Science">Science</option>
    <option value="History">History</option>
    <option value="Movies">Movies</option>
    <option value="Politics">Politics</option>
    <option value="Philosophy">Philosophy</option>
    <option value="Architecture">Architecture</option>
    <option value="Life-Hacks">Life-Hacks</option>
  </select><br/>
  <div>
    <label for="author">Author: </label><br/>
    <input id="author" type="text" name="article[author]" value="<%= article.author %>"><br/>
  </div>
  <div>
    <label for="title">Title: </label><br/>
    <input id="title" type="text" name="article[title]" value="<%= article.title %>"><br/>
  </div>
  <fieldset>
  <% for(var i = 0; i < article.content.length; i++) { %>
    <div>
      <label for="section">Section Title: </label><br/>
      <input id="section" type="text" name="article[content][<%= i %>][title]" value="<%= article.content[i].title %>"><br/>
    </div>
    <div class="markdown">
      <div>
        <label for="section-content">Section Content:</label><br/>
        <textarea id="section-content<%= i %>" name="article[content][<%= i %>][content]" onkeyup="textAreaAdjust(this)" style=“overflow:hidden”><%= article.content[i].content %></textarea><br/>
      </div>
      <div class="section section-content<%= i %>"></div>
    </div>
  <% } %>
</fieldset>
  <div>
    <input id="new-section" type="submit" value="Add a section">
  </div>
  <div class="input-field">
    <input type="submit">
  </div>
  <input id="hidden-value" type="hidden" value="<%= article.content.length %>">
  <a href="/articles/<%= article._id %>">Cancel</a>
</form>
<script src="/scripts/marked.js"></script>
<script src="/scripts/newArticle.js"></script>
