<h1>Which article would you like to see?</h1>
<a href="/articles/new">Create a New Article</a>
<dl>
  <% articles.forEach(function (eachArticle) { %>
    <dt><a href="/articles/<%= eachArticle._id %>"><%= eachArticle.title %></a></dt>
    <div class="section">
      <dd>Category: <%= eachArticle.category %></dd>
      <dd><%= eachArticle.content[0].title %>: <%- marked(eachArticle.content[0].content) %></dd>
    </div>
  <% }) %>
</dl>
