
<h1><%= article.title %></h1>
<p>By <%= article.author %></p>
<h2 id="category"><%= article.category %></h2><br/>
<a id="show-a" href="/articles/<%= article._id %>/edit">Edit</a>
<form id="show-form" action="/articles/<%= article._id %>?_method=DELETE" method="post">
  <div class="input-field">
    <input type="button" value="Delete This Article">
  </div>
</form>
<% for(var i = 0; i < article.content.length; i++) { %>
  <h2><%= article.content[i].title %></h2>
  <div class="content">
    <%- marked(article.content[i].content) %>
  </div>
<% } %>

Last Edit: <%= article.date.toLocaleDateString("en-us", {
    weekday: "long", year: "numeric", month: "short",
    day: "numeric", hour: "2-digit", minute: "2-digit"
}) %>
