
<h1><%= article.title %></h1>
<p>By <%= article.author %></p>
<h2><%= article.category %></h2>
<a href="/articles/<%= article._id %>/edit">Edit</a>
<form action="/articles/<%= article._id %>?_method=DELETE" method="post">
  <div class="input-field">
    <input type="button" value="Delete This Article">
  </div>
</form>
<% for(var i = 0; i < article.content.length; i++) { %>
  <h2><%= article.content[i].title %></h2>
  <p><%= article.content[i].content %></p>
<% } %>
